html, body {
    height: 100%;
    margin: 0;
    background-color: #f3f3f3;
}

.content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    display: block;
    margin-top: 0;
    text-align: center;
    font-size: 24px;
    color: black;
    text-decoration: blink;
}

.code  {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 3px;
    background-color: #2b3a42;
    font-size: 13px;
    line-height: 19px;
    color: aqua;
}
